{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8 /">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>{% block title %}WellnessWeb.com{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </link>
</head>

<body class="flex flex-col min-h-screen">
    <header id="home" class="flex bg-gradient-to-r from-indigo-300 to-slate-950 py-6 px-16 fixed top-0 left-0 right-0 z-40">

        <nav class="navbar flex items-center w-full">
            <div class="flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="flex items-center">
                    <svg height="40" width="">
                        <defs>
                          <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
                            <stop offset="0%" style="stop-color:rgb(255,255,0);stop-opacity:1" />
                            <stop offset="100%" style="stop-color:rgb(255,0,0);stop-opacity:1" />
                          </linearGradient>
                        </defs>
                        <ellipse cx="85" cy="20" rx="20" ry="20" fill="url(#grad1)" />
                        <text fill="#ffffff" font-size="20" font-weight="bold" font-family="Verdana"  x="10" y="26">WellnessWeb</text>
                        
                      </svg>
                    
                </div>
                <ul class="w-full justify-end flex-grow lg:flex lg:items-center lg:w-auto ml-auto">
                    {% if request.user.is_authenticated %}
                    <li class="shadow-md transition duration-300 transform hover:scale-105">
                        <a href="{% url 'logout' %}" class="px-4 py-2 mr-1 text-white font-bold hover:bg-blue-400 rounded-lg">Sign out</a>
                    </li>
                    {% else %}
                    <li class="shadow-md transition duration-300 transform hover:scale-105">
                        <a href="{% url 'login' %}" class="px-4 py-2 mr-1 text-white font-bold hover:bg-blue-400 rounded-lg shadow-md transition duration-300 transform hover:scale-105">
                            Sign in
                        </a>
                    </li>

                    <li class="shadow-md transition duration-300 transform hover:scale-105">
                        <a href="#" class="px-4 py-2 mr-1 text-white font-bold hover:bg-blue-400 rounded-lg shadow-md transition duration-300 transform hover:scale-105">Sign up</a>
                    </li>
                    <li class="shadow-md transition duration-300 transform hover:scale-105">
                        <a href="#" class="px-4 py-2 mr-1 text-white font-bold hover:bg-blue-400 rounded-lg shadow-md transition duration-300 transform hover:scale-105">Language</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <div class="flex-grow container mx-auto mt-20 pt-6">
        {% block content %} {% endblock %}
    </div>
    <!-- domready:JavaScript event listener for the DOMContentLoaded event. It  allows to execute code when the Document Object Model (DOM) has finished loading. -->
    <!-- the include_js block allows us to insert JavaScript files in any template that extends base.html template -->
    {% block include_js %}
    
    {% endblock %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            // DOM loaded 
            {% block domready %}
            {% endblock %}
        })
    </script>
    <!-- footer content -->
    <footer id="footer" class="mt-6 bg-neutral-100">

        <ul class="flex justify-center justify-items-center  text-black lg:text-left text-xs  pb-2">
            <li class="">
                <span>© 2023 Copyright Biniyam</span>
            </li>
        </ul>
    </footer>
</body>

</html>