<!-- template for the ContentCreateUpdateView view .
In this template, check whether an object variable is in the context. If object exists in the context, update an existing object.
Otherwise, create a new object.
enctype="multipart/form-data" is included in the <form> HTML element because the form contains a file upload for the File and Image content models-->
{% extends "base.html" %}

{% block title %}
{% if object %}
Edit content "{{ object.title }}"
{% else %}
Add new content
{% endif %}
{% endblock %}

{% block content %}
<h1 class="text-2xl font-semibold">
    {% if object %}
    Edit content "{{ object.title }}"
    {% else %}
    Add new content
    {% endif %}
</h1>
<div class="module mt-4">
    <h2 class="text-lg font-semibold">Course info</h2>
    <form action="" method="post" enctype="multipart/form-data" class="mt-4">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Save content" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600"></p>
    </form>
</div>
{% endblock %}