<!-- This is the template that displays all modules for a course and the contents of the selected module.
- iterate over the course modules to display them in a sidebar 
-u iterate over a module’s contents
and access content.item to get the related Text, Video, Image, or File object.-->
<!-- This will load the course template tags.See course.py under templatetags -->

{% extends 'base.html' %}
{% load course %}

{% block title %}
Module {{ module.order|add:1 }}: {{ module.title }}
{% endblock %}
{% block content %}
{% with course=module.course %}
<div class="bg-blue-500 text-white font-bold text-2xl shadow-md py-4">
    <div class="container mx-auto px-4">
        <h1 class="text-2xl font-bold text-center mb-4">Course "{{ course.title }}"</h1>
    </div>
</div>

<div class="container contents mx-auto py-8">
    <div class="bg-white p-8 shadow-md rounded-md">
        <div class="flex space-x-4">
            <div class="w-1/4 bg-gray-800 text-white p-4">
                <h3 class="text-lg font-semibold">Modules</h3>
                <ul id="modules" class="space-y-2">
                    {% for m in course.modules.all %}
                    <li data-id="{{ m.id }}" {% if m == module %} class="bg-gray-600" {% endif %}>
                        <a href="{% url 'module_content_list' m.id %}">
                            <span>Module {{ m.order|add:1 }}</span>
                            <br>
                            {{ m.title }}
                        </a>
                    </li>
                    {% empty %}
                    <li>No modules yet.</li>
                    {% endfor %}
                </ul>
                <p class="mt-4">
                    <a href="{% url 'course_module_update' course.id %}" class="text-blue-600 hover:underline">
                        Edit modules
                    </a>
                </p>
            </div>
            <div class="w-3/4">
                <div class="module">
                    <h2 class="text-xl font-semibold">Module {{ module.order|add:1 }}: {{ module.title }}</h2>
                    <h3 class="text-lg font-semibold">Module contents:</h3>
                    <div id="module-contents" class="space-y-4">
                        {% for content in module.contents.all %}
                        <div data-id="{{ content.id }}" class="border rounded-lg p-4">
                            {% with item=content.item %}
                            <p>{{ item }} ({{ item|model_name }})</p>
                            <a href="{% url 'module_content_update' module.id item|model_name item.id %}" class="text-blue-600 hover:underline">
                                Edit
                            </a>
                            <form action="{% url 'module_content_delete' content.id %}" method="post" class="inline">
                                <input type="submit" value="Delete" class="text-red-600 hover:underline">
                                {% csrf_token %}
                            </form>
                            {% endwith %}
                        </div>
                        {% empty %}
                        <p>This module has no contents yet.</p>
                        {% endfor %}
                    </div>
                </div>
                <h3 class="text-lg font-semibold mt-4">Add new content:</h3>
                <ul class="content-types flex space-x-4 mt-2">
                    <li>
                        <a href="{% url 'module_content_create' module.id 'text' %}" class="text-blue-600 hover:underline">
                            Text
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'module_content_create' module.id 'image' %}" class="text-blue-600 hover:underline">
                            Image
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'module_content_create' module.id 'video' %}" class="text-blue-600 hover:underline">
                            Video
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'module_content_create' module.id 'file' %}" class="text-blue-600 hover:underline">
                            File
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock %}

{% block include_js %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/html5sortable/0.13.3/
html5sortable.min.js"></script>
{% endblock %}
<!-- This was defined in base.html. jS code will be executed once the page has been loaded. it defines the options for http request to reorder modules.
POST request will be sent using fetch api to update the module order.  -->
{% block domready %}
 var options = {
 method: 'POST',
 mode: 'same-origin'
 }
 const moduleOrderUrl = '{% url "module_order" %}';

 sortable('#modules', {
    forcePlaceholderSize: true,
    placeholderClass: 'placeholder'
    });[0].addEventListener('sortupdate', function(e) {
        modulesOrder = {};
        var modules = document.querySelectorAll('#modules li');
        modules.forEach(function (module, index) {
        // update module index
        modulesOrder[module.dataset.id] = index;
        // update index in HTML element
        module.querySelector('.order').innerHTML = index + 1;
        // add new order to the HTTP request options
        options['body'] = JSON.stringify(modulesOrder);
        // send HTTP request
        fetch(moduleOrderUrl, options)
        });
        });

        const contentOrderUrl = '{% url "content_order" %}';
        sortable('#module-contents', {
        forcePlaceholderSize: true,
        placeholderClass: 'placeholder'
        })[0].addEventListener('sortupdate', function(e) {
        contentOrder = {};
        var contents = document.querySelectorAll('#module-contents div');
        contents.forEach(function (content, index) {
        // update content index
        contentOrder[content.dataset.id] = index;
        // add new order to the HTTP request options
        options['body'] = JSON.stringify(contentOrder);
        // send HTTP request
        fetch(contentOrderUrl, options)
        });
        });
{% endblock %}
