{% extends "base.html" %}

{% block title %}
Edit "{{ course.title }}"
{% endblock %}

{% block content %}
<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100">
    <h1 class="text-3xl font-semibold mb-4">Edit "{{ course.title }}"</h1>
    <div class="bg-white p-6 shadow-md rounded-md max-w-md w-full">

        <div class="module">
            <h2 class="text-xl font-semibold mb-4">Course Modules</h2>
            <form method="post">

                <div class="">{{ formset }}</div>


                <div class="">{{ formset.management_form }}</div>


                <div class="mt-6"> {% csrf_token %}</div>

                <div class="text-center mt-6">
                    <input type="submit" value="Save Modules" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded-md">
                </div>
            </form>
        </div>

    </div>
</div>
{% endblock %}